* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #302d35;

  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

 color: white;
}

header, footer, main {
  background: #6044a1;
  width: 80%;
  padding: 20px;
  border: 2px solid #423c53;
  border-radius: 13px;
  text-align: center;
}

main {
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

ul {
  margin: 20px 0 30px;
}

li {
  margin-bottom: 5px;
}